@inherits TakePictureBase
@page "/takepicture"

 
<h3>Take Picture</h3>

<div>
    <div >
        <EditForm Model="@this">
            <div class="form-group row">
                    <InputSelect id="mode" class="col-sm-4 form-control mr-2" @bind-Value="@SelectedState" disabled="@DisableEdits">
                        @foreach (var i in CameraStateList)
                        {
                            <option value="@i.Key">@i.Value</option>
                        }
                    </InputSelect>

      
                    <InputSelect id="config" class="col-sm-5 form-control mr-2" @bind-Value="@SelectedConfigName" disabled="@DisableEdits">
                        @foreach (var i in SettingsService.Settings.OrderBy(x => x.Name))
                        {
                            <option value="@i.Name">@i.Name</option>
                        }
                    </InputSelect>
                    <button class="btn btn-info col-sm-2 form-control" disabled="@DisableEdits" @onclick="EditSelectedConfig_Clicked">Edit</button>
            </div>
        </EditForm>
        <button class="btn btn-success" @onclick="OnTakePicture">@CameraButtonText</button>
    </div>
@if (ImgData != null)
{
    <p>
        @if (SelectedState == CaptureState.Continous)
        {
            <h3>Frame: @FrameCount</h3>
        }

        <h3>Focus Score: @FocusScore</h3>
        <br />
        <img style="width: 100%;" src=@ImgData asp-append-version="true" />
    </p>
}
else
{
    <p><em>No Picture</em></p>
}
</div>

 